$color-naranja: #E76421;
$color-gris: #919194;
$color-azul:#193789;
#header {
    padding: 10px 0 10px 0; width: 100%; top: 0; position: fixed; z-index: 999;
}
#logo {
    max-width: 60%;
}
header {
    background: url('../../../assets/img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 40px;
    padding-top: 20px;
}
.bg-header {background: white;}
.titulo, .subtitulo {
    font-family: nexbold; font-size: 30pt;
    color: white; text-align: center; margin-bottom: 0;
}
.text-naranja {
    color: $color-naranja;
}
.subtitulo { font-size: 27pt;  }
.menu {
    padding: 0;
    margin: 0;

}
.menu > li{
    display: inline-block;
    padding: 10px 6px;
}
.bg-header .menu > li > a{ 
    color: $color-gris;
}
.bg-header p:first-child {
    color: $color-azul !important;
}
.menu > li > a{ 
    color: white; 
    font-family: nexbold; font-size: 9pt;
}
.menu > li > a:hover, .active {
    text-decoration: none;
    border-bottom: $color-naranja 2px solid;
}
.btn-sesion {
    background: #2A50BF;
    padding: 3px 10px;
    padding-top: 8px;
    border-radius: 8px;
    color: white;
}