<header>
    
    <section id="header" v-bind:class="bgHeader">
        <div class = "container">
            <div class="row pt-0">
                <div class="col col-xl-4 col-sm-6 order-sm-1 order-lg-1">
                    <router-link to = "/">
                        <img id="logo" v-bind:src="logo">
                    </router-link>
                </div>
                <div class="col col-xl-2 p-0 col-sm-6 order-sm-2 order-lg-3">
                    <div class="row ">
                        <div class="col-4 p-0 mt-3">
                            <a href="https://online.kapture.la" class="btn-sesion">
                                INGRESAR
                            </a>
                        </div>
                        <div class="col-6 pr-0">
                            <p class="m-0" style = "color: white; text-align:center">Registro</p>
                            <p class="m-0" style = "color: #E76421; text-align:center">¡Es Gratis!</p>
                        </div>
                    </div>
                    
                </div>
                <div class="w-100 d-lg-none"></div>
                <div class="col col-xl-6 col-sm-12 order-lg-2">
                    <ul class = "menu">
                        <li>
                            <router-link to = "/">
                                INICIO
                            </router-link>
                        </li>
                        <li>
                            <router-link to = "/about" active-class="active">
                                ¿QUIENES SOMOS?
                            </router-link>
                        </li>
                        <!--<li>
                            <router-link to = "/about">BILLETERAS</router-link>
                        </li>
                        <li>
                            <router-link to = "/about">NOTICIAS</router-link>
                        </li>
                        <li>
                            <router-link to = "/about">DESCARGAS</router-link>
                        </li>-->
                        <li>
                            <router-link to = "/contact" active-class="active">CONTACTANOS</router-link>
                        </li>
                        
                    </ul>
                </div>
                
            </div>
        </div>
        
    </section>
    <section class = "container" id="singup" v-bind:class = "invisible">
        <app-singup styles='margin-top:14%' sizeElement = "col-md-7 pt-sm-5"></app-singup>
        <br><br><br><br>
        <section class = "row">
            <div class="col col-md-3 mt-6">
                <div style="text-align: center">
                    <img src="../../../assets/img/descargas.png" alt="Desargas">
                    <h3 class ="titulo">300</h3>
                    <h4 class = "text-naranja">DESCARGAS</h4>
                </div>
            </div>
            <div class="col col-md-3 mt-6">
                <div style="text-align: center">
                    <img src="../../../assets/img/registros.png" alt="Desargas" width="50px">
                    <h3 class ="titulo">400K</h3>
                    <h4 class = "text-naranja">REGISTROS</h4>
                </div>
            </div>
            <div class="col col-md-3 mt-6">
                <div style="text-align: center">
                    <img src="../../../assets/img/criptos-aliadas.png" alt="Desargas" width="50px">
                    <h3 class ="titulo">4</h3>
                    <h4 class = "text-naranja">CRIPTOS ALIADAS</h4>
                </div>
            </div>
            <div class="col col-md-3 mt-6">
                <div style="text-align: center"> 
                    <img src="../../../assets/img/paises.png" alt="Desargas" width="50px">
                    <h3 class ="titulo">3</h3>
                    <h4 class = "text-naranja">PAISES ADMITIDOS</h4>
                </div>
            </div>
        </section>

    </section>

    
</header>