<template src='./header.html'></template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import Signup from '@/components/home/signup/Signup.vue';

@Component({
    name: 'Header',
    components: {
        'app-singup': Signup,
    },
})
export default class HeaderComponent extends Vue {
    public logo = '';
    public bgHeader = '';
    @Prop() private invisible!: string;
    private logoBlanco = require('../../../assets/img/LOGOBLANCO.png');
    private logoColor = require('../../../assets/img/logo2.png');
    public created(): void {
        this.logo = this.logoBlanco;
        window.addEventListener('scroll', () => {
            if (window.scrollY > 60) {
                this.logo = this.logoColor;
                this.bgHeader = 'bg-header';
            } else {
                this.logo = this.logoBlanco;
                this.bgHeader = 'x';
            }
        });
    }
}
</script>
<style scoped lang="scss" src = "./header.scss"></style>