<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="<%= BASE_URL %>favicon.png">
    <title>Tu mundo cripto en una sola aplicación  - Kapture.la</title>
    <meta name="google-site-verification" content="1eXbUKrmC464EzdvZAfjlRKDdDjm3SgasqbsVXJLfrA" />

  </head>
  <body>
    <noscript>
      <strong>We're sorry but kapturesite doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
