<section id = "footer">
    <div class="container pt-5">
        <div class="row">
            <div class = "col-lg-4">
                <img src="../../../assets/img/logo2.png" width="240px">
                <br><br>
                <p>
                    Kapturela posee una gran variedad de funciones que la convierte en la
                    mejor app para comenzar a operar tus criptomonedas
                </p>
            </div>
            <div class = "col-lg-8">
                <div class = "row">
                    <div class = "col-lg-3">
                        <h4>Productos</h4>
                        <ul>
                            <li>
                                Billeteras
                            </li>
                            <li>
                                Indicadores
                            </li>
                        </ul>
                    </div>
                    <div class = "col-lg-3">
                        <h4>Información</h4>
                        <ul>
                            <li>¿Que es kapturela?</li>
                            <li>
                                Blog
                            </li>
                        </ul>
                    </div>
                    <div class = "col-lg-3">
                        <h4>Empresa</h4>
                        <ul>
                            <li>
                                Acerca de
                            </li>
                            <li>
                                Termonos y condiciones
                            </li>
                        </ul>
                    </div>
                    <div class = "col-lg-3">
                        <h4>Contacto</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id = "copy" class="pt-3 pb-2">
        <a href="https://jaspesoft.com">
            <p class="text-center" style="color:white">
                Producto desarrollado por Jaspesoft c.a 2019
            </p>
        </a>
    </div>
</section>