$color-naranja: #E76421;
$color-gris: #919194;
$color-azul:#193789;

ul {
    padding: 0; margin: 0;
}
ul > li {
    color: $color-gris;
}
p {
    color: $color-gris;
}
#copy{
    background: $color-azul;
    
}