<template src='./footer.html'></template>
<script lang='ts'>
import { Component, Vue } from 'vue-property-decorator';
@Component({
    name: 'footer',
})
export default class FooterComponent extends Vue {}
</script>
<style scoped lang="scss" src = "./footer.scss"></style>