<template src = './about.html'></template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Signup from '@/components/home/signup/Signup.vue';

@Component({
    name: 'About',
    components: {
        'app-singup': Signup,
    },
})
export default class AboutComponent extends Vue {

}
</script>
<style scoped lang="scss" src = "./about.scss"></style>
