<div>
<section id="about" class="pt-5">
    <div class="container">
        <div class="row">
            <div class = "col-lg-6 col-sm-12">
        
            </div>
            <div class = "col-lg-6 col-sm-12 text-center">
                <img src="../../assets/img/logo2.png" width="280px">
                <br><br><br>
                <h4>Servicio integral para manejo de criptomonedas y <strong>cripto pagos</strong>.</h4>
                <br><br>
                <h2><strong>TRANSACCIONES</strong></h2>
                <h2> ¡SIN FRONTERAS!</h2>
                <br>
                <p>Puedes pagar, cobrar, cambiar y enviar tus criptomonedas a cualquier lugar del mundo, y lo mejor ¡cuando quieras!.</p>
                <br>
                <p>Te mantiene informado de lo que pasa en el mundo cripto y puedes hacer diversas operaciones con tus criptomonedas, desde enviar, recibir, hacer pagos en establecimientos  o gestionar cobros de tus productos y servicios, hasta  establecer indicadores para optimizar
                        el rendimiento de tu inversión.</p>
                <br>
                <p>Tiene herramientas que hacen tu experiencia más fácil y productiva.</p>
                <br>
                <p>Cuenta con una calculadora para convertir de forma automática USD o VES a BTC y otras criptomonedas.  </p>
                <br>
                <p>Todo el manejo de tus <strong>criptoactivos</strong> con el más alto nivel
                        de seguridad que brinda la Tecnología <strong>blockchain</strong>.</p>
                <br><br><br><br>
                <div id = "info_empresa">
                    <p class="pt-3">
                        Producto creado por Jaspesoft, c.a. empresa dedicada al desarrollo de soluciones web, apps e integración con la tecnología blockchain. </p>
                    <p style= "color:rgb(16, 182, 242)">Conoce más acerca de Jaspesoft c.a 
                        <a class="btn btn-warning" href="https://jaspesoft.com">AQUÍ</a>
                    </p>
                </div>
                
                
                
            </div>
        </div>
    </div>
</section>
<section id="go" class="pt-5">
    <div class="text-center">
        <h1 class="text-naranja mb-0 title-light">Comience en </h1>
        <h2 class="text-naranja subtitle">¡SÓLO UN MINUTO!</h2>
        
        <app-singup sizeElement = "col col-md-12 col-sm-12" invisibleElement='d-none' styles='margin:20px auto; width:44%; position: relative; '></app-singup>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <p class="text-center text-azul">
                    Kapturela admite una gran variedad de monedas digitales, las más populares del mundo.
                </p>
                <br>
                <h1 class="text-azul text-center mb-0 title-light font-long mb-0 pb-0">CREA UNA </h1>
                <h2 class="text-azul text-center subtitle font-long mb-0 pb-0">CUENTA</h2>
                <p class="text-center text-azul mt-0 pt-0">Usando sólo tu correo electrónico</p>
                <br>
                <p class="text-center text-azul">¡Comienza a enviar y recibir tu scriptos favoritas co kapturela!</p>
            </div><div class="col-lg-6 col-sm-12"></div>
        </div>
    </div>
</section>
</div>