$color-naranja: #E76421;
$color-gris: #919194;
$color-azul:#193789;
#about {
    background: url(../../assets/img/FONDO_NOSOTROS.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
}
h2,h3,h4{color: $color-gris;}
p{
    font-size: 12pt;
    color: $color-gris;
}
.subtitle {
    font-family: nexbold;
}
.title-light{
    font-family: nexlig;
}
.text-naranja {
    color: $color-naranja;
}
.text-azul {
    color: $color-azul;
}
#info_empresa{
    color:white;
}
#go {
    background: url(../../assets/img/FONDO-COMIENCE-EN-SOLO-UN-MINUTO.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.font-long{ font-size: 4rem}

@media (max-width: 576px) {
    h4,h2, p {
        color: black;
    }
    #info_empresa {
        background: #1D2D8B
    }
    #info_empresa p{
        color:white;
    }
}