<template>
    <div>
        <app-header invisible='d-none'></app-header>
        <app-about></app-about>
        <app-footer></app-footer>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HeaderComponent from '@/components/home/header/HeaderComponent.vue';
import FooterComponent from '@/components/home/footer/FooterComponent.vue';
import AboutComponent from '@/components/about/AboutComponent.vue';

@Component({
    name: 'About',
    components: {
        'app-header': HeaderComponent,
        'app-footer': FooterComponent,
        'app-about': AboutComponent,
    },
})
export default class About extends Vue {

}
</script>
<style lang="scss" scoped>

</style>

