<template>
    <div>
        <app-header invisible='d-none'></app-header>
        <app-contact></app-contact>
        <app-footer></app-footer>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HeaderComponent from '@/components/home/header/HeaderComponent.vue';
import FooterComponent from '@/components/home/footer/FooterComponent.vue';
import ContactComponent from '@/components/contact/ContactComponent.vue';

@Component({
    name: 'Contact',
    components: {
        'app-header': HeaderComponent,
        'app-footer': FooterComponent,
        'app-contact': ContactComponent,
    },
})
export default class Contact extends Vue {

}
</script>
<style lang="scss" scoped>

</style>

