<template>
    <div>
        <app-header></app-header>
        <app-presentation></app-presentation>
        <app-cryptos></app-cryptos>
        <app-footer></app-footer>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import HeaderComponent from '@/components/home/header/HeaderComponent.vue'; // @ is an alias to /src
import PresentationComponent from '@/components/home/presentation/PresentationComponent.vue';
import CryptosComponent from '@/components/home/cryptos/CryptosComponent.vue';
import FooterComponent from '@/components/home/footer/FooterComponent.vue';

@Component({
    name: 'HomeVue',
    components: {
        'app-header': HeaderComponent,
        'app-presentation': PresentationComponent,
        'app-cryptos': CryptosComponent,
        'app-footer': FooterComponent,
    },
})
export default class Home extends Vue {

}
</script>