<template src = './contact.html'></template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import toastr from 'toastr';

@Component({
    name: 'Contact',
})
export default class ContactComponent extends Vue {
    public form: any = [];

    public created(): void {
        this.form = {
            nombre: '',
            apellido: '',
            telefono: '',
            email: '',
            comentario: '',
        };
    }

    public async onSubmit() {
        const formValid = await this.validateForm();
        if (!formValid) {
            return;
        }
    }

    private async validateForm() {
        const error = [];
        if (!this.validEmail(this.form.email)) {
            error.push('Formato de correo incorrecto');
            return false;
        }
        if (this.form.nombre.length < 3) {
            error.push('El campo nombre es requerido y debe tener mínimo 3 caracteres');
            return false;
        }
        if (this.form.apellido.length < 3) {
            error.push('El campo apellido es requerido y debe tener mínimo 3 caracteres');
            return false;
        }
        if (this.form.telefono.length < 8) {
            error.push('El campo teléfono es requerido y debe tener mínimo 8 caracteres');
            return false;
        }
        if (this.form.comentario.length < 20) {
            error.push('El campo comentario es requerido y debe tener mínimo 20 caracteres');
            return false;
        }
        return true;
    }

    private showError(error: any[]) {
        for (const key in error) {
            if (error.hasOwnProperty(key)) {
                const element = error[key];
                toastr.warning('', error[key], {positionClass: 'toast-bottom-right'});
            }
        }
    }

    private validEmail(email: string) {
        // tslint:disable-next-line:max-line-length
      const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }
}
</script>
<style scoped lang="scss" src = "./contact.scss"></style>