<div>
    <section id="contact" class="pt-5">
        <div class="container pt-5">
            <div class="row pt-2">
                <div class = "col-lg-5 col-sm-12">

                </div>
                <div class = "col-lg-7 col-sm-12">
                    <h3 class = "text-center">
                        Tenemos a tú disposición los siguientes puntos de contacto.
                    </h3>
                    <br><br>
                    <h5 class = "text-center">
                        Correo electrónico:
                    </h5>
                    <h6 class = "text-center">
                        <strong>kapturela@gmail.com</strong>
                    </h6>
                    
                    <br>
                    <div class="row">
                        <div class = "col-4 text-center">
                            <a href="">
                                <img src = "../../assets/img/facebook.png" width="30px" title="Kapturela en facebook">
                            </a>
                        </div>
                        <div class = "col-4 text-center">
                            <a href="">
                                <img src = "../../assets/img/instagram.png" width="30px" title="Kapturela en Instagram">
                            </a>

                        </div>
                        <div class = "col-4 text-center">
                            <a href="">
                                <img src = "../../assets/img/twitter.png" width="30px" title="Kapturela en Twitter">
                            </a>

                        </div>
                    </div> 
                    
                    <b-form method="post" class="form mt-5" @submit.prevent="onSubmit">
                        <h4 class = "text-center">Tu opinión es importante</h4>
                        <br><br>
                        <div class = "row">
                            <div class = "col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label for="input_nombre">Nombre:</label>
                                    <input id = "input_nombre" aria-describedby="input_nombre_help" type="nombre" v-model.trim="form.nombre"  name="nombre" 
                                    class="form-control" placeholder="Ingresa tu nombre" >
                                    
                                </div>
                            </div>
                            <div class = "col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label for="input_apellido">Apellido:</label>
                                    <input id = "input_apellido" aria-describedby="input_apellido_help" type="apellido" v-model.trim="form.nombre"  name="apellido" 
                                    class="form-control" placeholder="Ingresa tu apellido" >
                                </div>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label for="input_nombre">Teléfono:</label>
                                    <input id = "input_nombre" aria-describedby="input_nombre_help" type="nombre" v-model.trim="form.nombre"  name="nombre" 
                                    class="form-control" placeholder="Ingresa tu nombre" >
                                    
                                </div>
                            </div>
                            <div class = "col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label for="input_correo">Correo electrónico:</label>
                                    <input id = "input_correo" aria-describedby="input_correo_help" type="apellido" v-model.trim="form.correo"  name="correo" 
                                    class="form-control" placeholder="Ingresa tu correo" >
                                </div>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <label for="input_correo">Comentario, sugerencia o recomendación:</label>
                                    <textarea class="form-control" rows="5" v-model.trim="form.comentario"></textarea>
                                </div>
                            </div>
                        </div>
                        <br>
                        <b-button variant="primary" type="submit" class="mt-3" block :disabled=request>Enviar</b-button>
                        <p class = "text-center color-naranja">Responderemos a la brevedad posible</p>
                    </b-form>
                    <br><br><br><br>
                </div>
            </div>
        </div>
    </section>
</div>