#contact{
    background: url(../../assets/img/FONDO-CONTACTO.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.rrss li {
    display: inline-block;
    padding: 0 10px;
}
.color-naranja{
    color: #E76421;
}
form{
    padding: 10px;background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 10px
}
h1, h2, h3, h4, h5,h6 p, strong {color:lightslategray}