<style scoped lang="scss" src = "./signup.scss"></style>
<template src="./signup.html"></template>
<script lang="ts">

import { Component, Prop, Vue } from 'vue-property-decorator';
import { environment } from '../../../environment';
import axios from 'axios';
import toastr from 'toastr';

@Component({
    components: { Signup },
})
export default class Signup extends Vue {
    public modalShow = false;
    public request = false;
    public form: any = [];
    public countries = [];
    @Prop() private invisibleElement!: string;
    @Prop() private styles!: string;
    @Prop() private sizeElement!: string;


    public created(): void {
        this.form = {
            email: '',
            password: '',
            confirm: '',
            country: '',
        };
        axios.get(environment.apiUrl + '/settings/countries').then( (data) => {
            this.countries = data.data;
        }).catch( (error) => {
            toastr.warning('', error, {positionClass: 'toast-bottom-right'});
        });
    }

    public showModal(): void {
        this.modalShow = true;
    }
    public async onSubmit() {
        const formValid = await this.validateForm();
        if (!formValid) {
            return;
        }
        const body = new URLSearchParams();
        // tslint:disable-next-line:forin
        for (const key in this.form) {
            body.append(key, this.form[key]);
        }
        axios.post(environment.apiUrl + '/auth/signup',
        {
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            email: this.form.email,
            password: this.form.password,
            country: this.form.country,
        }).then( (resp) => {
            if (resp.data.state === 'ok') {
                window.location.href = environment.urlValidateAccount;
            }
            toastr.warning('warning', resp.data.message, {positionClass: 'toast-bottom-right'});
        }).catch( (error) => {
            toastr.warning('', error, {positionClass: 'toast-bottom-right'});
        });
    }
    private async validateForm(): Promise<boolean> {
        const error = [];
        if (!this.validEmail(this.form.email)) {
            error.push('Formato de correo incorrecto');
        }
        if (this.form.password !== this.form.confirm) {
            error.push('Contraseña no coinciden, corrigalo e intente nuevamente');
        }
        if (this.form.password === '' || this.form.confirm === '') {
            error.push('Ingrese su contraseña');
        }
        if (this.form.password.length < 8) {
            error.push('La contraseña debe contener mínimo 8 caracteres');
        }
        if (this.form.country === '') {
            error.push('Seleccione el país donde vive');
        }
        if (error.length > 0) {
            this.showError(error);
            return false;
        } else {
            return true;
        }
    }
    private showError(error: any[]) {
        for (const key in error) {
            if (error.hasOwnProperty(key)) {
                const element = error[key];
                toastr.warning('', error[key], {positionClass: 'toast-bottom-right'});
            }
        }
    }
    private validEmail(email: string) {
        // tslint:disable-next-line:max-line-length
      const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }
}
</script>

