$color-naranja: #E76421;
$color-gris: #919194;
$color-azul:#193789;
#mensaje_registro {
    font-size: 11.6pt; color:white; margin-left: 0;
    font-family: nexlig; margin-top: 10px;
}
#input_registro {
    width: 100%; background-color: rgba(255, 255, 255, 0.1); 
    color:white;
    
    line-height: 24px; border: 1px solid transparent;
    padding: 10px 6px; font-size: 14pt;
    padding-left: 20px;
}
#btn_registro {
    background: #E76421; border: 1px solid transparent;
    font-size: 14pt;
    padding: 10px 6px; width: 100%;
    line-height: 24px;
}
#form_registro  {
    margin-top: 40px;
}
.titulo, .subtitulo {
    font-family: nexbold; font-size: 40pt;
    color: white; text-align: center; margin-bottom: 0;
}
.subtitulo { font-size: 27pt;  }
#go p {
    color: $color-azul;
}
#go input {
    background: white;
    color: $color-gris;
}
#go form {
    text-align: left;
}

@media (max-width: 576px) {
    .titulo {
        font-family: nexbold; font-size: 30pt;
    }
    .subtitulo { font-size: 17pt;  }
    #registro {
        margin-top: 20% !important;
    }
    #btn_registro, #input_registro {
        font-size: 12pt;
    }
 }