<section id = "registro" v-bind:style = "styles">
    <div class="row">
        <div v-bind:class = "sizeElement">
            <div class = "col-12" v-bind:class = "invisibleElement">
                <h1 class = "titulo">TU MUNDO CRIPTO</h1>
                <h2 class = "subtitulo">En una sola aplicación</h2>    
            </div>
            <br>
            <div  class="col-12">
                <div class="row">
                    <div class = "col-md-8 p-0">
                        <input type="email" v-model="form.email" id = "input_registro" placeholder="Correo electrónico">
                    </div>
                    <div class = "col-md-4 p-0">
                        <button id = "btn_registro" @click="showModal()">crear billetera</button>
                    </div>
                </div>
                
                <p id = "mensaje_registro">Crea tu billetera automáticamente usando solo tu correo electrónico <strong>GRATIS!</strong></p>
            </div>
        </div>
        
    </div>

    <b-modal v-model="modalShow" id="modal-signup" hide-footer centered>
        <template slot="modal-title">
        Crea tu cuenta kapture.la
        </template>
        <div class="d-block">
            <br>
            <b-form method="post" class="form" @submit.prevent="onSubmit">
                <div class="form-group">
                    <label for="input_correo">Correo electrónico:</label>
                    <input id = "input_correo" aria-describedby="input_correo_help" type="email" v-model.trim="form.email"  name="email" 
                    class="form-control" placeholder="Ingresa tu correo personal" >
                    <small id="input_correo_help" class="form-text text-muted">Necesitaras de tu correo electrónico para ingresar a kapture.la.</small>
                </div>
                
                <div class="form-group">
                    <label for="input_pais">País:</label>
                    <select class="form-control" id="input_pais" v-model.trim = "form.country">
                        <option value="">Seleccione tu país</option>
                        <option v-for="item in countries" v-bind:key = "item.code_country" :value="item.code_country">{{item.name_country}}</option>
                    </select>
                </div>
                <div class = "row">
                    <div class = "col-6">
                        <div class="form-group">
                            <label for="input_pass">Contraseña:</label>
                            <input type="password" v-model.trim = "form.password" id = "input_pass" aria-describedby="input_pass" class = "form-control" placeholder="Escriba su contraseña de acceso">
                            <small id="input_correo_help" class="form-text text-muted">Mínimo 8 caracteres. Únicamente letras, dígitos y @/./+/-/_</small>
                        </div>
                    </div>
                    <div class = "col-6">
                        <div class="form-group">
                            <label for="input_pass2">Confirmar contraseña:</label>
                            <input id = "input_pass2" type="password" v-model.trim = "form.confirm" class = "form-control" placeholder="Escribw una ves más tu contraseña">
                        </div>
                    </div>
                </div>

                <b-button variant="primary" type="submit" class="mt-3" block :disabled=request>Registrar</b-button>
            </b-form>
        </div>
        
    </b-modal>
</section>