#cryptos {
    background: url(../../../assets/img/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5rem; padding-bottom: 5rem;
}
h1, h2, h3, h4, p { color: white}

.titulo {
    font-family: nexbold;
}
h1 { font-size: 3.5rem;}
.ultratitulo{
    font-family: nexlig;
    color: #E0BA7F;
}
p{font-size: 1.5rem; font-family: nexlig;}