<template src="./cryptos.html"></template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
    name: 'Cryptos',
})
export default class CryptosComponent extends Vue {

}
</script>
<style scoped lang="scss" src = "./cryptos.scss"></style>