<section id="cryptos">
    <section class="container">
        <div class = "row">
            <div class = "col-md-7 col-sm-12">
                <h1 class="text-center titulo mb-0">COMIENZA</h1>
                <h2 class="text-center subtitulo">¡AHORA MISMO!</h2>
                <h3 class="text-center ultratitulo">OPTIMIZA TUS PAGOS</h3>
            </div>
            <div class = "col-md-5 col-sm-12">
                <p class="mt-5">kapturela maneja dentro de su billetera las monedas digitales más populares de latinoAmerica y el mundo.</p>
            </div>
        </div>
        <br><br><br>
        <div class = "row">
            <div class="col col-lg-3 col-sm-3">
                <div class="text-center">
                    <a href="https://arioncoin.com/" target="_blank">
                        <img src="../../../assets/img/ARION.png" width="80px">
                        <p>Arioncoin</p>
                    </a>
                </div>
            </div>
            <div class="col col-lg-3 col-sm-3">
                <div class="text-center">
                    <a href="https://www.rilcoincrypto.org/" target="_blank">
                        <img src="../../../assets/img/RIL.png" width="80px">
                        <p>Rilcoin</p>
                    </a>
                </div>
            </div>
            <div class="col col-lg-3 col-sm-3">
                <div class="text-center">
                    <a href="https://bolis.info/" target="_blank">
                        <img src="../../../assets/img/BOLIVARCOIN.png" width="80px">
                        <p>Bolivarcoin</p>
                    </a>
                </div>
            </div>
            <div class="col col-lg-3 col-sm-2">
                <div class="text-center">
                    <a href="https://onixcoin.com/" target="_blank">
                        <img src="../../../assets/img/ONX.png" width="80px">
                        <p>Onixcoin</p>
                    </a>
                </div>
            </div>
        </div>
    </section>

</section>