<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
  @import 'node_modules/bootstrap/scss/bootstrap';
  @import 'node_modules/bootstrap-vue/src/index.scss';
  @font-face {font-family: nexbold; src: url(assets/fonts/NexaBold.otf);}
  @font-face {font-family: nexlig; src: url(assets/fonts/NexaLight.otf);}
  @font-face {font-family: nexregular; src: url(assets/fonts/NexaRegular.otf);}
  @font-face {font-family: ralemedi; src: url(assets/fonts/Raleway-Medium.ttf);}

  html, body {
    font-family: nexregular !important;
    font-size: 10pt; background: #F8F8F8;
  }
  .btn{border-radius: 20px; }
  .btn-bg-azul{background-color: #2149B2; color: #f8f8f8; font-size: 13pt;}
  input {
    font-family: nexregular !important;
  }
  $color-naranja: #E76421;

  .toast-title {
    font-weight: bold; font-size: 12pt;
  }
  .toast-message {
    word-wrap: break-word; font-size: 10pt;
  }
  .table td, .table th{
    text-align: center !important;
  }
    
</style>