
<section class="container" id="presentation">
    <div class = "row">
        <div class = "col col-lg-6 text-center pt-5 bg-presentacion">
            <img class="" src="../../../assets/img/phone.png" width="300px">
        </div>
        <div class = "col col-lg-6 p-0 col-sm-12">
            <div class = "vertical-center text-center">
                <div class = "text-center">
                    <img src="../../../assets/img/logo2.png" width="350px">
                </div>
                <br>
                
                <h4>Kapturela dispone de una gran variedad funciones que la convierten en la mejor app para comenzar a 
                    operar tus <strong>criptomonedas</strong>.
                </h4>
                <br>
                <router-link to = "/about" class="btn btn-bg-azul pl-5 pr-5">leer más</router-link>
            </div>
        </div>
    </div>
</section>