#presentation{
     background-color: #F8F8F8;
}
.bg-presentacion {
    background: url('../../../assets/img/fondo1.png'); background-repeat: no-repeat;
    background-position: -8% center;
    background-size: cover;
    
}
p, h4 {
    color: #919194
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  @media (max-width: 576px) {
    .bg-presentacion {
        display: none;
    }
    .vertical-center {
        position: relative;
    }
    #presentation {
        padding: 20px;
    }
  }