<template src = "./presentation.html"></template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({
    name: 'Presentation',
})
export default class PresentationComponent extends Vue {

}
</script>
<style scoped lang="scss" src = "./presentation.scss"></style>